@model List<Livepl.Entities.User>

@{
    ViewData["Title"] = "Users";
}


<h2>Users</h2>

<a class="btn btn-primary" data-toggle="collapse" href="/User/Create" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add User
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Joined</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td><a href="/User/Details/@user.Id">@user.Name</a></td>
                <td>@user.Email</td>
                <td>@user.DateJoined.ToString("dd/MM/yyyy")</td>
                <td>@user.LastUpdated</td>
                <td>
                    <form action="/User/Delete" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>